@charset "UTF-8";
/* CSS Document */

/*全デバイス共通設定*/
.cf:after {
  content: "";
  clear: both;
  display: block;
}
@font-face{
	font-family: "myfont";
	src: url("../PixelMplus-20130602/PixelMplus12-Regular.ttf");
}
@keyframes fadein{
	0%{	transform: rotate(0deg); opacity: 0;}
	100%{transform: rotate(3600deg); opacity: 1;}
}
@keyframes comein1{
	0%{position: absolute; left: -1000px; }
	100%{position: absolute; left: 0; }
}
@keyframes comein2{
	0%{position: absolute; right: -1000px;}
	100%{position: absolute; right: 0;}
}
@keyframes scrollfadein{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

img{
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}

body{
	font-size: 16px;
}

/*スマホ用設定*/
	body{
		font-size: 16px;
		font-family: "繝｡繧､繝ｪ繧ｪ", Meiryo, "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro W3", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け", Arial, verdana, sans-serif;
		line-height: 1.5;
		height: 100vh;
	}
	#wrapper{
	height: 100%;
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);
   }
	.inner{
		width: 100%;
		margin: 0 auto;
	}
	nav,
    #top,
    .history,
    #map,
   .list,
   .recruit1,
   .recruit2,
   .aboutus,
   .greeting,
   #chara1,
   #chara2,
   .contact
{
	position: absolute;
}
	nav{
	width: 100%;
	/*background: #54DC7C;*/
	z-index: 100;
	position: relative; 
  overflow: hidden; /* 下のulのcssでリスト全体を右に50%移動しているので、その分幅が広がってしまいスクロールバーが表示されてしまいます。それを防ぐ為の設定です。 */
	padding-top: 20px;
  }
   nav ul{
	position: relative;
    left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
    float: left;
  }
  nav ul li{
	position: relative;
    left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
    float: left;
    list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
	margin: 0 10px 0 10px;
  }
  nav ul li a{
	display: block;
	color: #000;
	width: 196px;
	text-decoration: none;
	font-size: 30px;
	font-family: "myfont";
	text-align: center;
	line-height: 60px;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 98px;
  }
	#top{
	z-index: 92;
  }  
	header{
	clear: left;
	display: inline;
	text-align: center;
    }
    header h1{
	animation: fadein 2s;
	padding-top: 3em;
    }
	.scroll{
	position: absolute;
	top: 700px;
	left: 50%;
	animation: scrollfadein 5s;
   }
   .scroll a{
	position: absolute;
	left: 50%;
	bottom: 120px;
	z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    text-decoration: none;
	color: #a8a49a;
	padding-top: 60px;
   }
  .scroll a span {
   position: absolute;
   top: 0;
   left: 50%;
   width: 46px;
   height: 46px;
   margin-left: -23px;
   border: 2px solid #a8a49a;
   border-radius: 100%;
   box-sizing: border-box;
  }
  .scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #a8a49a;
  border-bottom: 2px solid #a8a49a;
  transform: rotate(-45deg);
  box-sizing: border-box;
  }
  #top_main .inner{
	clear: left;
	height: 500px;
	padding-bottom: 400px;
  }
  .img1{
	width: 46.875%;
	float: left;
	animation: comein1 1s;
  }
  .img2{
	width: 46.875%;
	float: right;
	animation: comein2 1s;
  }	
  main{
	clear: both;
  }  
	footer{
		opacity: 1;
	}	
 
	.history {
	width: 100%;
	height: 1000px;
	/*background-image: url("../images/mainhistory.png");
	background-repeat: no-repeat;*/
	font-weight: bold;
	font-family: "繝｡繧､繝ｪ繧ｪ", Meiryo, "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro W3", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け", Arial, verdana, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-size: 25px;
	position: absolute;
	z-index: 93;
	left: 10%;
	transform: translate(-50%,0)
}

#map{
	position: absolute;
	width: 76.5625%;
	margin:  auto;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 94;

	
}
.box a{
	display: block;
	width: 2.34375%;
	height: 30px;
	background: radial-gradient(circle 20px at top left,#fff,#f00 );
	border-radius:5px;
	
}
.text{
	font-family: "myfont";
}
.solar a{
	position: absolute;
	right: 16.40625%;
	top: 250px;
}
.text_solar{
	position: absolute;
	right: 15.234375%;
	top: 285px;
}

.jyoban a{
	position: absolute;
	right: 3.90625%;
	top: 90px;
}
.text_jyoban{
	position: absolute;
	right: 0.78125%;
	top: 125px;
}
.yoshii{
	position: absolute;
	left: 42.96875%;
	top: 750px;
}
.text_yoshii{
	position: absolute;
	left: 585px;
	top: 755px;
	
}
.annaka{
	position: absolute;
	left: 520px;
	top: 580px;
}
.text_annaka{
	position: absolute;
	left: 555px;
	top: 585px;
}
.shisui{
	position: absolute;
	right: 240px;
	top: 900px;
}
.text_shisui{
	position: absolute;
	right:20px;
	top: 935px;
}
.omurasaki{
	position: absolute;
	right: 350px;
	top: 800px;
}
.text_omurasaki{
	position: absolute;
	right: 155px;
	top: 800px;
}
.hidaka{
	position: absolute;
	right: 410px;
	top: 830px;	
}
.text_hidaka{
	position: absolute;
	right: 245px;
	top: 840px;
}
.iruma{
	position: absolute;
	left: 480px;
	top: 840px;
}
.text_iruma{
	position: absolute;
	left: 330px;
	top: 875px;
}
.takasuski{
	position: absolute;
	left: 360px;
	top: 520px;
}
.text_takasuski{
	position: absolute;
	left: 395px;
	top: 525px;
}
.haneda{
	position: absolute;
	left: 580px;
	top: 870px;
}
.text_haneda{
	position: absolute;
	left: 615px;
	top: 875px;	
}
.yokosuka{
	position: absolute;
	left: 540px;
	top: 920px;
}
.text_yokosuka{
	position: absolute;
	left: 500px;
	top: 955px;
}
.yamanaka{
	position: absolute;
	left: 360px;
	top: 940px;
}
.text_yamanaka{
	position: absolute;
	left: 320px;
	top: 975px;
}
.grandfields{
	position: absolute;
	left: 380px;
	top: 1010px;
}
.text_grandfields{
	position: absolute;
	left: 200px;
	top: 1045px;
}
.list{
	width: 100%;
	height: 100vh;
	z-index: 95;
}
.list h1{
	width: 150px;
	height: 150px;
}

.list dl dt:first-child{
	font-size: 18px;
	font-weight: bold;
}
.list dl dd:nth-of-type(1){
	font-size: 18px;
	font-weight: bold;
}
.list dl dd{
	padding: 0 0 0 8em;
	margin: -1.5em 0 10px 10px;
}
	.greeting h4 p:last-child{
		text-align: right;
		font-weight: bold;
	}



/*PC用設定*/
@media screen and (min-width:960px){
	
body{
	font-size: 16px;
	color: #fff;
	font-family: "繝｡繧､繝ｪ繧ｪ", Meiryo, "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro W3", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け", Arial, verdana, sans-serif;
	/*background: #54DC7C;*/
	line-height: 1.5;
	height: 5000px;
	
}
#wrapper{
	height: 100%;
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);
}
.inner{
	width: 1280px;
	margin: 0 auto;
}
nav,
#top,
.history,
#map,
.list,
.recruit1,
.recruit2,
.aboutus,
.greeting,
#chara1,
#chara2,
.contact
{
	position: absolute;
}
nav{
	width: 100%;
	/*background: #54DC7C;*/
	z-index: 100;
	position: relative; 
  overflow: hidden; /* 下のulのcssでリスト全体を右に50%移動しているので、その分幅が広がってしまいスクロールバーが表示されてしまいます。それを防ぐ為の設定です。 */
}
nav ul{
	position: relative;
  left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}
nav ul li{
	position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
}
nav ul li a{
	display: block;
	color: #000;
	width: 196px;
	text-decoration: none;
	font-size: 30px;
	font-family: "myfont";
	text-align: center;
	line-height: 60px;
}
nav ul li a:hover{
	color: #FF0000;
}
/*.nav1{
	animation: setup1 1s;
}
.nav2{
	animation: setup2 2s;
}
.nav3{
	animation: setup3 3s;
}
.nav4{
	animation: setup4 4s;
}
.nav5{
	animation: setup5 5s;
}*/
#top{
	z-index: 92;
}
header{
	clear: left;
	display: inline;
	text-align: center;
}
header h1{
	animation: fadein 2s;
	padding-top: 3em;
}
.scroll{
	position: absolute;
	top: 700px;
	left: 50%;
	animation: scrollfadein 5s;
}
.scroll a{
	position: absolute;
	left: 50%;
	bottom: 120px;
	z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    text-decoration: none;
	color: #a8a49a;
	padding-top: 60px;
}
.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #a8a49a;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #a8a49a;
  border-bottom: 2px solid #a8a49a;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#top_main .inner{
	clear: left;
	height: 500px;
	padding-bottom: 400px;
}
.img1{
	width: 600px;
	float: left;
	animation: comein1 1s;
}
.img2{
	width: 600px;
	float: right;
	animation: comein2 1s;
}
main{
	clear: both;
}
main .inner{
	width: 100%;
}


footer {
	opacity:1; /*初期値を設定*/
}
/*#particles{
	height: 2000px;
}
*/
.history {
	width:1280px;
	height: 1000px;
	/*background-image: url("../images/mainhistory.png");
	background-repeat: no-repeat;*/
	font-weight: bold;
	font-family: "繝｡繧､繝ｪ繧ｪ", Meiryo, "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro W3", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け", Arial, verdana, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-size: 25px;
	position: absolute;
	z-index: 93;
	left: 10%;
	transform: translate(-50%,0)
}

#map{
	position: absolute;
	width: 980px;
	margin:  auto;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 94;

	
}
.box a{
	display: block;
	width: 30px;
	height: 30px;
	background: radial-gradient(circle 20px at top left,#fff,#f00 );
	border-radius:5px;
	
}
.text{
	font-family: "myfont";
}
.solar a{
	position: absolute;
	right: 210px;
	top: 250px;
}
.text_solar{
	position: absolute;
	right: 195px;
	top: 285px;
}

.jyoban a{
	position: absolute;
	right: 50px;
	top: 90px;
}
.text_jyoban{
	position: absolute;
	right: 10px;
	top: 125px;
}
.yoshii{
	position: absolute;
	left: 550px;
	top: 750px;
}
.text_yoshii{
	position: absolute;
	left: 585px;
	top: 755px;
	
}
.annaka{
	position: absolute;
	left: 520px;
	top: 580px;
}
.text_annaka{
	position: absolute;
	left: 555px;
	top: 585px;
}
.shisui{
	position: absolute;
	right: 240px;
	top: 900px;
}
.text_shisui{
	position: absolute;
	right:20px;
	top: 935px;
}
.omurasaki{
	position: absolute;
	right: 350px;
	top: 800px;
}
.text_omurasaki{
	position: absolute;
	right: 155px;
	top: 800px;
}
.hidaka{
	position: absolute;
	right: 410px;
	top: 830px;	
}
.text_hidaka{
	position: absolute;
	right: 245px;
	top: 840px;
}
.iruma{
	position: absolute;
	left: 480px;
	top: 840px;
}
.text_iruma{
	position: absolute;
	left: 330px;
	top: 875px;
}
.takasuski{
	position: absolute;
	left: 360px;
	top: 520px;
}
.text_takasuski{
	position: absolute;
	left: 395px;
	top: 525px;
}
.haneda{
	position: absolute;
	left: 580px;
	top: 870px;
}
.text_haneda{
	position: absolute;
	left: 615px;
	top: 875px;	
}
.yokosuka{
	position: absolute;
	left: 540px;
	top: 920px;
}
.text_yokosuka{
	position: absolute;
	left: 500px;
	top: 955px;
}
.yamanaka{
	position: absolute;
	left: 360px;
	top: 940px;
}
.text_yamanaka{
	position: absolute;
	left: 320px;
	top: 975px;
}
.grandfields{
	position: absolute;
	left: 380px;
	top: 1010px;
}
.text_grandfields{
	position: absolute;
	left: 200px;
	top: 1045px;
}
.list{
	width: 100%;
	height: 100vh;
	z-index: 95;
}
.list h1{
	width: 150px;
	height: 150px;
}

.list dl dt:first-child{
	font-size: 18px;
	font-weight: bold;
}
.list dl dd:nth-of-type(1){
	font-size: 18px;
	font-weight: bold;
}
.list dl dd{
	padding: 0 0 0 8em;
	margin: -1.5em 0 10px 10px;
}
main .recruit1{

	height: 1000px;
	width: 1280px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-size: 25px;
	z-index: 96;
	position: absolute;
	left: 50%;
	transform: translate(-40%,0);
}
#button a{
	display: block;
	color: #fff;
	text-decoration: none;
	border: 2px solid #000;
	width: 160px;
	line-height: 50px;
	text-align: center;
	background: #447aff; 
	margin-top: 100px;
	margin-left: 50px;
	
}
main .recruit2{
	width: 1200px;
	z-index: 97;
}

main .recruit2 h2{
	font-size: 35px;
	padding-bottom: 10px;
}
#left_box{
	width: 600px;
	float: left;
}
#right_box{
	width: 600px;
	float: right;
}
.requirement dl dt{
	padding: 0 0 0 8em;
	margin: -1.5em 0 20px 10px;
}
.treatment ul li{
	padding-bottom: 15px;
}
main .aboutus{
	/*background-image:url("../images/IMG_3481.JPG");
	background-repeat: no-repeat;*/
	width: 1478px;
	z-index: 98;
	padding-bottom: 10px;
}
.aboutus h1{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
#table{
	position: absolute;
	top: 700px;
	left: 20%;
	transform: translate(-50%,0);
}
.aboutus table{
	margin-top: 50px;
	margin-left: 500px;
}
.aboutus tr{
	padding-left: 3px;
	
}
.aboutus td{
	padding-right: 70px;
	padding-bottom: 20px;
}
.list{
	height: 2000px;
}
#chara1{
	width: 250px;
	z-index: 99;
}
#chara2{
	width: 500px;
	z-index: 100;
}
.aboutus{
	left: 50%;
	transform: translate(-50%,0);
}
.greeting{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.greeting h1{
	font-size: 50px;
}
.greeting h2{
	font-size: 30px;
}
.greeting h2 p{
	margin: 10px 0;
}
.greeting h4{
	background: #fff;
	border: 5px solid #000;
	margin-top: 20px;
}
.greeting h4 p{
	margin: 10px;
}
.greeting p span{
	display: inline-block;
	width: 500px;
    height: 10px;
	background: #C04B4D;
	position: absolute;
	top:135px;
	left: 30px;
	z-index: -1;
	opacity: 0.3;
	
}
.contact{
	left: 50%;
	transform: translate(-50%,0);
	font-family: "myfont";
}
.contact h1{
	font-size: 20px;
	
}
footer{
	padding: 90px 0 0 0 ;
	text-align: center;
	
}
footer small{
	font-size: 20px;
	font-family: "myfont";
}

.contact table td:last-of-type{
	width: 600px;
}
}